library(DBI)
library(odbc)
{% if project %}

project_settings <- config::get("{{ project }}")$settings
{% endif %}

DBI::dbConnect(
    drv = odbc::odbc(),
    port = {{ port }},
    driver = {{ driver }},
    server = {{ server }},
    database = {{ database }},
    uid = paste0("win\\", project_settings$credentials$jhed$username),
    pwd = keyring::key_get(
      service = "jhed",
      username = project_settings$credentials$jhed$username
    ),
    TDS_version = {{ tds_version }}
)